interactions:
- request:
    body: '{"InstanceIds": ["ins-7sg50hs2"], "Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 1, "InstanceSet": [{"Placement": {"Zone":
        "ap-singapore-4", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-7sg50hs2",
        "Uuid": "4b21dde4-6928-4264-92e3-b514f3828fa2", "InstanceState": "RUNNING",
        "RestrictState": "NORMAL", "InstanceType": "SA2.MEDIUM4", "CPU": 2, "Memory":
        4, "InstanceName": "Unnamed", "InstanceChargeType": "POSTPAID_BY_HOUR", "SystemDisk":
        {"DiskType": "CLOUD_BSSD", "DiskId": "disk-h2f4t74w", "DiskSize": 50, "Encrypt":
        false, "KmsKeyId": null, "ThroughputPerformance": 0, "CdcId": null}, "DataDisks":
        [], "PrivateIpAddresses": ["192.168.0.3"], "PublicIpAddresses": ["129.226.88.134"],
        "IPv6Addresses": null, "InternetAccessible": {"InternetMaxBandwidthOut": 5,
        "InternetChargeType": "TRAFFIC_POSTPAID_BY_HOUR"}, "VirtualPrivateCloud":
        {"VpcId": "vpc-rdsfj6ot", "SubnetId": "subnet-9hl8a56w", "AsVpcGateway": false},
        "SecurityGroupIds": ["sg-0tifsp1w"], "LoginSettings": {"KeyIds": ["skey-pz3dn78b"]},
        "ImageId": "img-eb30mz89", "OsName": "TencentOS Server 3.1 (TK4)", "DefaultLoginUser":
        "root", "DefaultLoginPort": 22, "RenewFlag": null, "CreatedTime": "2022-09-15T07:05:51Z",
        "ExpiredTime": null, "Tags": [], "PlatformProjectId": null, "DisasterRecoverGroupId":
        "", "DedicatedClusterId": "", "CamRoleName": "", "LatestOperation": null,
        "LatestOperationState": null, "LatestOperationRequestId": null, "IsolatedSource":
        "NOTISOLATED", "HpcClusterId": "", "DisableApiTermination": false, "RdmaIpAddresses":
        null, "LicenseType": "TencentCloud", "StopChargingMode": "NOT_APPLICABLE"}],
        "RequestId": "fc1d7e38-0f86-4f30-8be4-cdd9599b624e"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-7sg50hs2"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[],"RequestId":"298a42fa-f86a-4f5e-a32f-fe4868c57b0c"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-7sg50hs2"], "Tags":
      [{"TagKey": "maid_status", "TagValue": "Resource does not meet policy: terminate@2022-09-22T07:07:00+00:00"}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - TagResources
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"FailedResources":[],"RequestId":"1b762f1c-cef7-4d4e-951a-9322430ec70e"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"InstanceIds": ["ins-7sg50hs2"], "StopType": "SOFT", "StoppedMode": "STOP_CHARGING"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - StopInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"RequestId": "e050b1b0-ed83-49c3-b344-eed95ac90c64"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-00lycyy6","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: stop@2022-09-29T06:56:00+00:00"}]}],"RequestId":"97e27df5-a86a-4d9e-bbe4-6d248964762c"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
