interactions:
- request:
    body: '{"InstanceIds": ["ins-g5ce39ac", "ins-2s6wefc8"], "Offset": 0, "Limit":
      20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 2, "InstanceSet": [{"Placement": {"Zone":
        "ap-singapore-1", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-g5ce39ac",
        "Uuid": "72f9bd17-df37-4b8e-b794-94da4d9efd5d", "OperatorUin": "100000750436",
        "InstanceState": "STOPPED", "RestrictState": "NORMAL", "InstanceType": "S3.MEDIUM2",
        "CPU": 2, "Memory": 2, "InstanceName": "stacklet_demo_0", "InstanceChargeType":
        "POSTPAID_BY_HOUR", "SystemDisk": {"DiskType": "CLOUD_PREMIUM", "DiskId":
        "disk-1m1z9bfo", "DiskSize": 50, "Encrypt": false, "KmsKeyId": null, "ThroughputPerformance":
        0, "CdcId": null}, "DataDisks": [], "PrivateIpAddresses": ["192.168.1.5"],
        "PublicIpAddresses": null, "IPv6Addresses": null, "InternetAccessible": {"InternetMaxBandwidthOut":
        2, "InternetChargeType": null}, "VirtualPrivateCloud": {"VpcId": "vpc-jgvo5lth",
        "SubnetId": "subnet-6iwt55zg", "AsVpcGateway": false}, "SecurityGroupIds":
        ["sg-m5jbq9cu"], "LoginSettings": {"KeyIds": ["skey-ru5y2pxx"]}, "ImageId":
        "img-eb30mz89", "OsName": "TencentOS Server 3.1 (TK4)", "DefaultLoginUser":
        "root", "DefaultLoginPort": 22, "RenewFlag": null, "CreatedTime": "2022-09-27T11:17:50Z",
        "ExpiredTime": null, "Tags": [{"tagKey": "maid_status", "tagValue": "Resource
        does not meet policy: stop@2022-10-11T11:20:00+00:00", "Key": "maid_status",
        "Value": "Resource does not meet policy: stop@2022-10-11T11:20:00+00:00"}],
        "PlatformProjectId": null, "DisasterRecoverGroupId": "", "DedicatedClusterId":
        "", "CamRoleName": "", "LatestOperation": "StopInstances", "LatestOperationState":
        "SUCCESS", "LatestOperationRequestId": "27849143-2956-4c86-b27b-715cc95f1c3b",
        "IsolatedSource": "NOTISOLATED", "HpcClusterId": "", "DisableApiTermination":
        false, "RdmaIpAddresses": null, "LicenseType": "TencentCloud", "StopChargingMode":
        "STOP_CHARGING"}, {"Placement": {"Zone": "ap-singapore-1", "HostId": null,
        "ProjectId": 0}, "InstanceId": "ins-2s6wefc8", "Uuid": "63699205-e879-4c5e-b737-77c6c289fa54",
        "OperatorUin": "100000750436", "InstanceState": "STOPPING", "RestrictState":
        "NORMAL", "InstanceType": "S3.MEDIUM2", "CPU": 2, "Memory": 2, "InstanceName":
        "stacklet_demo_1", "InstanceChargeType": "POSTPAID_BY_HOUR", "SystemDisk":
        {"DiskType": "CLOUD_PREMIUM", "DiskId": "disk-h27x[...]
- request:
    body: '{"InstanceIds": ["ins-g5ce39ac", "ins-2s6wefc8"], "Offset": 20, "Limit":
      20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 2, "InstanceSet": [], "RequestId": "52652bd5-f95a-4d37-9d3d-ec37823c34ac"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore:uin/100000750436:instance/ins-g5ce39ac",
      "qcs::cvm:ap-singapore:uin/100000750436:instance/ins-2s6wefc8"], "Tags": [{"TagKey":
      "maid_status", "TagValue": "Resource does not meet policy: terminate@2022-10-04T11:21:00+00:00"}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - TagResources
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"FailedResources":[],"RequestId":"22777215-7ad5-444d-8e28-6de6a8040169"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"InstanceIds": ["ins-g5ce39ac", "ins-2s6wefc8"], "Offset": 20, "Limit":
      20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 2, "InstanceSet": [], "RequestId": "de2f90d4-007a-4d41-b806-19c64bf9081a"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
