interactions:
- request:
    body: '{"InstanceIds": ["ins-00lycyy6"], "Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 1, "InstanceSet": [{"Placement": {"Zone":
        "ap-singapore-4", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-00lycyy6",
        "Uuid": "9683a76c-12cb-45f5-b7e9-70ae917a6ae4", "InstanceState": "STOPPED",
        "RestrictState": "NORMAL", "InstanceType": "SA2.MEDIUM4", "CPU": 2, "Memory":
        4, "InstanceName": "Unnamed", "InstanceChargeType": "POSTPAID_BY_HOUR", "SystemDisk":
        {"DiskType": "CLOUD_BSSD", "DiskId": "disk-f4cbs4nc", "DiskSize": 50, "Encrypt":
        false, "KmsKeyId": null, "ThroughputPerformance": 0, "CdcId": null}, "DataDisks":
        [], "PrivateIpAddresses": ["192.168.0.8"], "PublicIpAddresses": null, "IPv6Addresses":
        null, "InternetAccessible": {"InternetMaxBandwidthOut": 5, "InternetChargeType":
        null}, "VirtualPrivateCloud": {"VpcId": "vpc-2hxl6jir", "SubnetId": "subnet-gnl4awp6",
        "AsVpcGateway": false}, "SecurityGroupIds": ["sg-4rdhd5n6"], "LoginSettings":
        {"KeyIds": ["skey-83mjf79v"]}, "ImageId": "img-eb30mz89", "OsName": "TencentOS
        Server 3.1 (TK4)", "DefaultLoginUser": "root", "DefaultLoginPort": 22, "RenewFlag":
        null, "CreatedTime": "2022-09-06T03:07:37Z", "ExpiredTime": null, "Tags":
        [{"tagKey": "maid_status", "tagValue": "Resource does not meet policy: stop@2022-09-27T02:31:00+00:00",
        "Key": "maid_status", "Value": "Resource does not meet policy: stop@2022-09-27T02:31:00+00:00"}],
        "PlatformProjectId": null, "DisasterRecoverGroupId": "", "DedicatedClusterId":
        "", "CamRoleName": "", "LatestOperation": "StopInstances", "LatestOperationState":
        "SUCCESS", "LatestOperationRequestId": "bfefd463-506b-4e4c-8632-87a453b1ea88",
        "IsolatedSource": "NOTISOLATED", "HpcClusterId": "", "DisableApiTermination":
        false, "RdmaIpAddresses": null, "LicenseType": "TencentCloud", "StopChargingMode":
        "STOP_CHARGING"}], "RequestId": "cbe44b0e-82cd-43e8-a4d3-80349692ac63"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-00lycyy6","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: stop@2022-09-27T02:31:00+00:00"}]}],"RequestId":"1656f315-24de-4e9d-b201-3df2d26fd772"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6"], "Tags":
      [{"TagKey": "tag_add_test_key_for_test", "TagValue": "tag_add_test_value_for_test"}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - TagResources
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"FailedResources":[],"RequestId":"f5f28afd-026c-4535-a428-db07382a4437"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-00lycyy6","Tags":[{"TagKey":"tag_add_test_key_for_test","TagValue":"tag_add_test_value_for_test"},{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: stop@2022-09-27T02:31:00+00:00"}]}],"RequestId":"0a228e40-0766-413a-abab-e9128ef7ac22"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
