interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 5, \"InstanceSet\": [{\"Placement\":
        {\"Zone\": \"ap-singapore-4\", \"HostId\": null, \"ProjectId\": 0}, \"InstanceId\":
        \"ins-00lycyy6\", \"Uuid\": \"9683a76c-12cb-45f5-b7e9-70ae917a6ae4\", \"InstanceState\":
        \"RUNNING\", \"RestrictState\": \"NORMAL\", \"InstanceType\": \"SA2.MEDIUM4\",
        \"CPU\": 2, \"Memory\": 4, \"InstanceName\": \"Unnamed\", \"InstanceChargeType\":
        \"POSTPAID_BY_HOUR\", \"SystemDisk\": {\"DiskType\": \"CLOUD_BSSD\", \"DiskId\":
        \"disk-f4cbs4nc\", \"DiskSize\": 50, \"Encrypt\": false, \"KmsKeyId\": null,
        \"ThroughputPerformance\": 0, \"CdcId\": null}, \"DataDisks\": [], \"PrivateIpAddresses\":
        [\"192.168.0.8\"], \"PublicIpAddresses\": [\"43.159.32.22\"], \"IPv6Addresses\":
        null, \"InternetAccessible\": {\"InternetMaxBandwidthOut\": 5, \"InternetChargeType\":
        \"TRAFFIC_POSTPAID_BY_HOUR\"}, \"VirtualPrivateCloud\": {\"VpcId\": \"vpc-2hxl6jir\",
        \"SubnetId\": \"subnet-gnl4awp6\", \"AsVpcGateway\": false}, \"SecurityGroupIds\":
        [\"sg-4rdhd5n6\"], \"LoginSettings\": {\"KeyIds\": [\"skey-83mjf79v\"]}, \"ImageId\":
        \"img-eb30mz89\", \"OsName\": \"TencentOS Server 3.1 (TK4)\", \"DefaultLoginUser\":
        \"root\", \"DefaultLoginPort\": 22, \"RenewFlag\": null, \"CreatedTime\":
        \"2022-09-06T03:07:37Z\", \"ExpiredTime\": null, \"Tags\": [{\"tagKey\": \"maid_status\",
        \"tagValue\": \"Resource does not meet policy: stop@2022-09-27T02:31:00+00:00\",
        \"Key\": \"maid_status\", \"Value\": \"Resource does not meet policy: stop@2022-09-27T02:31:00+00:00\"}],
        \"PlatformProjectId\": null, \"DisasterRecoverGroupId\": \"\", \"DedicatedClusterId\":
        \"\", \"CamRoleName\": \"\", \"LatestOperation\": \"StartInstances\", \"LatestOperationState\":
        \"SUCCESS\", \"LatestOperationRequestId\": \"ac1235a3-270c-451b-84e2-0c34e80f13cc\",
        \"IsolatedSource\": \"NOTISOLATED\", \"HpcClusterId\": \"\", \"DisableApiTermination\":
        false, \"RdmaIpAddresses\": null, \"LicenseType\": \"TencentCloud\", \"StopChargingMode\":
        \"NOT_APPLICABLE\"}, {\"Placement\": {\"Zone\": \"ap-singapore-4\", \"HostId\":
        null, \"ProjectId\": 0}, \"InstanceId\": \"ins-a4vgayks\", \"Uuid\": \"67280d6c-7dee-4b06-b794-778535a61366\",
        \"InstanceState\": \"STOPPED\", \"RestrictState\": \"NORMAL\", \"InstanceType\":
        \"SA2.MEDIUM4\", \"CPU\": 2, \"Memory\": 4, \"InstanceName\": \"ins-riot-cvmtest\",
        \"InstanceChargeType\": \"POSTPAID_BY_HOUR\", \"SystemDisk\": {\"DiskType\":
        \"CLOUD_BSSD\", \"[...]
- request:
    body: '{"Offset": 20, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 5, "InstanceSet": [], "RequestId": "d37d62bf-8f38-4a35-9b73-ad57a95eff44"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6", "qcs::cvm:ap-singapore::instance/ins-a4vgayks",
      "qcs::cvm:ap-singapore::instance/ins-n198q4gc", "qcs::cvm:ap-singapore::instance/ins-beetmuio",
      "qcs::cvm:ap-singapore::instance/ins-5xpbvkm8"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-00lycyy6","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: stop@2022-09-27T02:31:00+00:00"}]},{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-a4vgayks","Tags":[{"TagKey":"test_pro","TagValue":"andyxbchen"},{"TagKey":"test_pro_00122","TagValue":"andyxbchen"},{"TagKey":"test_test-rfc26","TagValue":"Resource
        does not meet policy: tag@2022-09-08T02:46:00+00:00"},{"TagKey":"\u8fd0\u7ef4\u8d1f\u8d23\u4eba2","TagValue":"andyxbchen"},{"TagKey":"test","TagValue":"test"}]}],"RequestId":"d601e55e-50d9-47ee-8aa4-d387b472f662"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6", "qcs::cvm:ap-singapore::instance/ins-a4vgayks",
      "qcs::cvm:ap-singapore::instance/ins-n198q4gc", "qcs::cvm:ap-singapore::instance/ins-beetmuio",
      "qcs::cvm:ap-singapore::instance/ins-5xpbvkm8"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-00lycyy6","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: stop@2022-09-27T02:31:00+00:00"}]},{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-a4vgayks","Tags":[{"TagKey":"test_pro","TagValue":"andyxbchen"},{"TagKey":"test_pro_00122","TagValue":"andyxbchen"},{"TagKey":"test_test-rfc26","TagValue":"Resource
        does not meet policy: tag@2022-09-08T02:46:00+00:00"},{"TagKey":"\u8fd0\u7ef4\u8d1f\u8d23\u4eba2","TagValue":"andyxbchen"},{"TagKey":"test","TagValue":"test"}]}],"RequestId":"6f26395e-0674-4cf7-9556-1f874cc035a9"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
