interactions:
- request:
    body: '{"InstanceIds": ["ins-g5ce39ac", "ins-2s6wefc8"], "Offset": 0, "Limit":
      20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 2, "InstanceSet": [{"Placement": {"Zone":
        "ap-singapore-1", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-g5ce39ac",
        "Uuid": "72f9bd17-df37-4b8e-b794-94da4d9efd5d", "OperatorUin": "100000750436",
        "InstanceState": "RUNNING", "RestrictState": "NORMAL", "InstanceType": "S3.MEDIUM2",
        "CPU": 2, "Memory": 2, "InstanceName": "stacklet_demo_0", "InstanceChargeType":
        "POSTPAID_BY_HOUR", "SystemDisk": {"DiskType": "CLOUD_PREMIUM", "DiskId":
        "disk-1m1z9bfo", "DiskSize": 50, "Encrypt": false, "KmsKeyId": null, "ThroughputPerformance":
        0, "CdcId": null}, "DataDisks": [], "PrivateIpAddresses": ["192.168.1.5"],
        "PublicIpAddresses": ["43.134.172.135"], "IPv6Addresses": null, "InternetAccessible":
        {"InternetMaxBandwidthOut": 2, "InternetChargeType": "TRAFFIC_POSTPAID_BY_HOUR"},
        "VirtualPrivateCloud": {"VpcId": "vpc-jgvo5lth", "SubnetId": "subnet-6iwt55zg",
        "AsVpcGateway": false}, "SecurityGroupIds": ["sg-m5jbq9cu"], "LoginSettings":
        {"KeyIds": ["skey-ru5y2pxx"]}, "ImageId": "img-eb30mz89", "OsName": "TencentOS
        Server 3.1 (TK4)", "DefaultLoginUser": "root", "DefaultLoginPort": 22, "RenewFlag":
        null, "CreatedTime": "2022-09-27T11:17:50Z", "ExpiredTime": null, "Tags":
        [], "PlatformProjectId": null, "DisasterRecoverGroupId": "", "DedicatedClusterId":
        "", "CamRoleName": "", "LatestOperation": null, "LatestOperationState": null,
        "LatestOperationRequestId": null, "IsolatedSource": "NOTISOLATED", "HpcClusterId":
        "", "DisableApiTermination": false, "RdmaIpAddresses": null, "LicenseType":
        "TencentCloud", "StopChargingMode": "NOT_APPLICABLE"}, {"Placement": {"Zone":
        "ap-singapore-1", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-2s6wefc8",
        "Uuid": "63699205-e879-4c5e-b737-77c6c289fa54", "OperatorUin": "100000750436",
        "InstanceState": "RUNNING", "RestrictState": "NORMAL", "InstanceType": "S3.MEDIUM2",
        "CPU": 2, "Memory": 2, "InstanceName": "stacklet_demo_1", "InstanceChargeType":
        "POSTPAID_BY_HOUR", "SystemDisk": {"DiskType": "CLOUD_PREMIUM", "DiskId":
        "disk-h27x[...]
- request:
    body: '{"InstanceIds": ["ins-g5ce39ac", "ins-2s6wefc8"], "Offset": 20, "Limit":
      20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 2, "InstanceSet": [], "RequestId": "7c0db5b3-cfa3-44bf-b646-871d90bb995a"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore:uin/100000750436:instance/ins-g5ce39ac",
      "qcs::cvm:ap-singapore:uin/100000750436:instance/ins-2s6wefc8"], "Tags": [{"TagKey":
      "tag_add_test_key_for_test", "TagValue": "tag_add_test_value_for_test"}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - TagResources
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"FailedResources":[],"RequestId":"811a9493-463a-4607-b39c-5c324226f416"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"InstanceIds": ["ins-g5ce39ac", "ins-2s6wefc8"], "Offset": 20, "Limit":
      20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 2, "InstanceSet": [], "RequestId": "135099fc-40b0-4472-99c3-291957de63cf"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
