interactions:
- request:
    body: '{"InstanceIds": ["ins-7sg50hs2"], "Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 1, "InstanceSet": [{"Placement": {"Zone":
        "ap-singapore-4", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-7sg50hs2",
        "Uuid": "4b21dde4-6928-4264-92e3-b514f3828fa2", "InstanceState": "STOPPED",
        "RestrictState": "NORMAL", "InstanceType": "SA2.MEDIUM4", "CPU": 2, "Memory":
        4, "InstanceName": "Unnamed", "InstanceChargeType": "POSTPAID_BY_HOUR", "SystemDisk":
        {"DiskType": "CLOUD_BSSD", "DiskId": "disk-h2f4t74w", "DiskSize": 50, "Encrypt":
        false, "KmsKeyId": null, "ThroughputPerformance": 0, "CdcId": null}, "DataDisks":
        [], "PrivateIpAddresses": ["192.168.0.3"], "PublicIpAddresses": null, "IPv6Addresses":
        null, "InternetAccessible": {"InternetMaxBandwidthOut": 5, "InternetChargeType":
        null}, "VirtualPrivateCloud": {"VpcId": "vpc-rdsfj6ot", "SubnetId": "subnet-9hl8a56w",
        "AsVpcGateway": false}, "SecurityGroupIds": ["sg-0tifsp1w"], "LoginSettings":
        {"KeyIds": ["skey-pz3dn78b"]}, "ImageId": "img-eb30mz89", "OsName": "TencentOS
        Server 3.1 (TK4)", "DefaultLoginUser": "root", "DefaultLoginPort": 22, "RenewFlag":
        null, "CreatedTime": "2022-09-15T07:05:51Z", "ExpiredTime": null, "Tags":
        [{"tagKey": "maid_status", "tagValue": "Resource does not meet policy: terminate@2022-09-22T07:07:00+00:00",
        "Key": "maid_status", "Value": "Resource does not meet policy: terminate@2022-09-22T07:07:00+00:00"}],
        "PlatformProjectId": null, "DisasterRecoverGroupId": "", "DedicatedClusterId":
        "", "CamRoleName": "", "LatestOperation": "StopInstances", "LatestOperationState":
        "SUCCESS", "LatestOperationRequestId": "e050b1b0-ed83-49c3-b344-eed95ac90c64",
        "IsolatedSource": "NOTISOLATED", "HpcClusterId": "", "DisableApiTermination":
        false, "RdmaIpAddresses": null, "LicenseType": "TencentCloud", "StopChargingMode":
        "STOP_CHARGING"}], "RequestId": "a19c3d7d-3663-4b99-b4ab-2c51cb31b673"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-7sg50hs2"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-7sg50hs2","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: terminate@2022-09-22T07:07:00+00:00"}]}],"RequestId":"ca67b3a0-bb57-402f-ad96-d5bc504860ad"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"InstanceIds": ["ins-7sg50hs2"], "Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 0, "InstanceSet": [], "RequestId": "19bf169a-1606-4f0a-b861-401ebd6b9bfb"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
