interactions:
- request:
    body: '{"InstanceIds": ["ins-g5ce39ac", "ins-2s6wefc8"], "Offset": 0, "Limit":
      20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 2, "InstanceSet": [{"Placement": {"Zone":
        "ap-singapore-1", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-g5ce39ac",
        "Uuid": "72f9bd17-df37-4b8e-b794-94da4d9efd5d", "OperatorUin": "100000750436",
        "InstanceState": "RUNNING", "RestrictState": "NORMAL", "InstanceType": "S3.MEDIUM2",
        "CPU": 2, "Memory": 2, "InstanceName": "stacklet_demo_0", "InstanceChargeType":
        "POSTPAID_BY_HOUR", "SystemDisk": {"DiskType": "CLOUD_PREMIUM", "DiskId":
        "disk-1m1z9bfo", "DiskSize": 50, "Encrypt": false, "KmsKeyId": null, "ThroughputPerformance":
        0, "CdcId": null}, "DataDisks": [], "PrivateIpAddresses": ["192.168.1.5"],
        "PublicIpAddresses": ["43.134.172.135"], "IPv6Addresses": null, "InternetAccessible":
        {"InternetMaxBandwidthOut": 2, "InternetChargeType": "TRAFFIC_POSTPAID_BY_HOUR"},
        "VirtualPrivateCloud": {"VpcId": "vpc-jgvo5lth", "SubnetId": "subnet-6iwt55zg",
        "AsVpcGateway": false}, "SecurityGroupIds": ["sg-m5jbq9cu"], "LoginSettings":
        {"KeyIds": ["skey-ru5y2pxx"]}, "ImageId": "img-eb30mz89", "OsName": "TencentOS
        Server 3.1 (TK4)", "DefaultLoginUser": "root", "DefaultLoginPort": 22, "RenewFlag":
        null, "CreatedTime": "2022-09-27T11:17:50Z", "ExpiredTime": null, "Tags":
        [{"tagKey": "maid_status", "tagValue": "Resource does not meet policy: stop@2022-10-11T11:20:00+00:00",
        "Key": "maid_status", "Value": "Resource does not meet policy: stop@2022-10-11T11:20:00+00:00"}],
        "PlatformProjectId": null, "DisasterRecoverGroupId": "", "DedicatedClusterId":
        "", "CamRoleName": "", "LatestOperation": null, "LatestOperationState": null,
        "LatestOperationRequestId": null, "IsolatedSource": "NOTISOLATED", "HpcClusterId":
        "", "DisableApiTermination": false, "RdmaIpAddresses": null, "LicenseType":
        "TencentCloud", "StopChargingMode": "NOT_APPLICABLE"}, {"Placement": {"Zone":
        "ap-singapore-1", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-2s6wefc8",
        "Uuid": "63699205-e879-4c5e-b737-77c6c289fa54", "OperatorUin": "100000750436",
        "InstanceState": "RUNNING", "RestrictState": "NORMAL", "InstanceType": "S3.MEDIUM2",
        "CPU": 2, "Memory": 2, "InstanceName": "stacklet_demo_1", "InstanceChargeType":
        "POSTPAID_BY_HOUR", "SystemDisk": {"DiskType": "CLOUD_PREMIUM", "DiskId":
        "disk-h27x[...]
- request:
    body: '{"InstanceIds": ["ins-g5ce39ac", "ins-2s6wefc8"], "Offset": 20, "Limit":
      20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 2, "InstanceSet": [], "RequestId": "be3bdcb2-2e1f-4652-acc0-09b5e1297d5f"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"InstanceIds": ["ins-g5ce39ac", "ins-2s6wefc8"], "StopType": "SOFT", "StoppedMode":
      "STOP_CHARGING"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - StopInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"RequestId": "27849143-2956-4c86-b27b-715cc95f1c3b"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"InstanceIds": ["ins-g5ce39ac", "ins-2s6wefc8"], "Offset": 20, "Limit":
      20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 2, "InstanceSet": [], "RequestId": "3fa8424c-686f-431b-ac19-7f3ee4ceee92"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
