interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 6, \"InstanceSet\": [{\"Placement\":
        {\"Zone\": \"ap-singapore-3\", \"HostId\": null, \"ProjectId\": 0}, \"InstanceId\":
        \"ins-mu5fb7hc\", \"Uuid\": \"7ed91105-4b9c-4117-83bc-72d5afa87664\", \"InstanceState\":
        \"RUNNING\", \"RestrictState\": \"NORMAL\", \"InstanceType\": \"SA2.MEDIUM4\",
        \"CPU\": 2, \"Memory\": 4, \"InstanceName\": \"luke\", \"InstanceChargeType\":
        \"POSTPAID_BY_HOUR\", \"SystemDisk\": {\"DiskType\": \"CLOUD_BSSD\", \"DiskId\":
        \"disk-ctiott9e\", \"DiskSize\": 50, \"Encrypt\": false, \"KmsKeyId\": null,
        \"ThroughputPerformance\": 0, \"CdcId\": null}, \"DataDisks\": [], \"PrivateIpAddresses\":
        [\"172.16.3.6\"], \"PublicIpAddresses\": [\"129.226.91.132\"], \"IPv6Addresses\":
        null, \"InternetAccessible\": {\"InternetMaxBandwidthOut\": 5, \"InternetChargeType\":
        \"TRAFFIC_POSTPAID_BY_HOUR\"}, \"VirtualPrivateCloud\": {\"VpcId\": \"vpc-82offjfb\",
        \"SubnetId\": \"subnet-6rhcj004\", \"AsVpcGateway\": false}, \"SecurityGroupIds\":
        [\"sg-807ub8bc\"], \"LoginSettings\": {\"KeyIds\": null}, \"ImageId\": \"img-3la7wgnt\",
        \"OsName\": \"CentOS 7.8 64\u4F4D\", \"DefaultLoginUser\": \"root\", \"DefaultLoginPort\":
        22, \"RenewFlag\": null, \"CreatedTime\": \"2022-09-13T03:44:26Z\", \"ExpiredTime\":
        null, \"Tags\": [], \"PlatformProjectId\": null, \"DisasterRecoverGroupId\":
        \"\", \"DedicatedClusterId\": \"\", \"CamRoleName\": \"\", \"LatestOperation\":
        \"ModifyInstancesAttribute.InstanceName\", \"LatestOperationState\": \"SUCCESS\",
        \"LatestOperationRequestId\": \"1a6f88d0-00aa-430f-8869-84b514abe341\", \"IsolatedSource\":
        \"NOTISOLATED\", \"HpcClusterId\": \"\", \"DisableApiTermination\": false,
        \"RdmaIpAddresses\": null, \"LicenseType\": \"TencentCloud\", \"StopChargingMode\":
        \"NOT_APPLICABLE\"}, {\"Placement\": {\"Zone\": \"ap-singapore-4\", \"HostId\":
        null, \"ProjectId\": 0}, \"InstanceId\": \"ins-00lycyy6\", \"Uuid\": \"9683a76c-12cb-45f5-b7e9-70ae917a6ae4\",
        \"InstanceState\": \"STOPPED\", \"RestrictState\": \"NORMAL\", \"InstanceType\":
        \"SA2.MEDIUM4\", \"CPU\": 2, \"Memory\": 4, \"InstanceName\": \"Unnamed\",
        \"InstanceChargeType\": \"POSTPAID_BY_HOUR\", \"SystemDisk\": {\"DiskType\":
        \"CLOUD_BSSD\", \"DiskId\": \"disk-f4cbs4nc\", \"DiskSize\": 50, \"Encrypt\":
        false, \"KmsKeyId\": null, \"ThroughputPerformance\": 0, \"CdcId\": null},
        \"DataDisks\": [], \"PrivateIpAddresses\": [\"192.168.0.8\"], \"PublicIpAddresses\":
        null, \"IPv6Addresses\": null, \"InternetAccessible\": {\"InternetMaxBandwidthOut\":
        5, \"InternetChargeType\": null}, \"VirtualPrivateCloud\": {\"VpcId\": \"vpc-2hxl6jir\",
        \"SubnetId\": \"subnet-gnl4awp6\", \"AsVpcGateway\": false}, \"SecurityGroupIds\":
        [\"sg-4rdhd5n6\"], \"LoginSettings\": {\"KeyIds\": [\"skey-83mjf79v\"]}, \"ImageId\":
        \"img-eb30mz89\", \"OsName\": \"TencentOS Server 3.1 (TK4)\", \"DefaultLoginUser\":
        \"root\", \"DefaultLoginPort\": 22, \"RenewFlag\": null, \"CreatedTime\":
        \"2022-09-06T03:07:37Z\", \"ExpiredTime\": null, \"Tags\": [{\"tagKey\": \"maid_status\",
        \"tagValue\": \"Resource does not meet policy: stop@2022-09-27T02:31:00+00:00\",
        \"Key\": \"maid_status\", \"Value\": \"Resource does not meet policy: stop@2022-09-27T02:31:00+00:00\"},
        {\"tagKey\": \"tag_add_test_key_for_test\", \"tagValue\": \"tag_add_test_value_for_test\",
        \"Key\": \"tag_add_test_key_for_test\", \"Value\": \"tag_add_test_value_for_test\"}],
        \"PlatformProjectId\": null, \"DisasterRecoverGroupId\": \"\", \"DedicatedClusterId\":
        \"\", \"CamRoleName\": \"\", \"LatestOperation\": \"StopInstances\", \"LatestOperationState\":
        \"SUCCESS\", \"LatestOperationRe[...]
- request:
    body: '{"Offset": 20, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 6, "InstanceSet": [], "RequestId": "8ead1667-4b23-4ef1-a080-5633aa13bbd4"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-mu5fb7hc", "qcs::cvm:ap-singapore::instance/ins-00lycyy6",
      "qcs::cvm:ap-singapore::instance/ins-a4vgayks", "qcs::cvm:ap-singapore::instance/ins-n198q4gc",
      "qcs::cvm:ap-singapore::instance/ins-beetmuio", "qcs::cvm:ap-singapore::instance/ins-5xpbvkm8"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-00lycyy6","Tags":[{"TagKey":"tag_add_test_key_for_test","TagValue":"tag_add_test_value_for_test"},{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: stop@2022-09-27T02:31:00+00:00"}]},{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-a4vgayks","Tags":[{"TagKey":"test_pro","TagValue":"andyxbchen"},{"TagKey":"test_pro_00122","TagValue":"andyxbchen"},{"TagKey":"test_test-rfc26","TagValue":"Resource
        does not meet policy: tag@2022-09-08T02:46:00+00:00"},{"TagKey":"\u8fd0\u7ef4\u8d1f\u8d23\u4eba2","TagValue":"andyxbchen"},{"TagKey":"test","TagValue":"test"}]}],"RequestId":"18341aa3-4afc-4c5f-93e4-6e58ec5faa55"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6"], "Tags":
      [{"TagKey": "tag_add_test_key_for_test_rename", "TagValue": "tag_add_test_value_for_test"}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - TagResources
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"FailedResources":[],"RequestId":"0348ef50-5d7b-4e32-9199-5df6e20ab24d"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6"], "TagKeys":
      ["tag_add_test_key_for_test"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - UnTagResources
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"FailedResources":[],"RequestId":"baaa1ed2-d4f7-4e0e-a23e-dff984698e89"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
