interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 6, \"InstanceSet\": [{\"Placement\":
        {\"Zone\": \"ap-singapore-4\", \"HostId\": null, \"ProjectId\": 0}, \"InstanceId\":
        \"ins-3zljmyzw\", \"Uuid\": \"91eba5f9-92fb-41c4-b917-e55de25f9e08\", \"InstanceState\":
        \"RUNNING\", \"RestrictState\": \"NORMAL\", \"InstanceType\": \"SA2.MEDIUM4\",
        \"CPU\": 2, \"Memory\": 4, \"InstanceName\": \"Unnamed\", \"InstanceChargeType\":
        \"POSTPAID_BY_HOUR\", \"SystemDisk\": {\"DiskType\": \"CLOUD_BSSD\", \"DiskId\":
        \"disk-fzf620zw\", \"DiskSize\": 50, \"Encrypt\": false, \"KmsKeyId\": null,
        \"ThroughputPerformance\": 0, \"CdcId\": null}, \"DataDisks\": [], \"PrivateIpAddresses\":
        [\"192.168.0.33\"], \"PublicIpAddresses\": [\"129.226.92.145\"], \"IPv6Addresses\":
        null, \"InternetAccessible\": {\"InternetMaxBandwidthOut\": 5, \"InternetChargeType\":
        \"TRAFFIC_POSTPAID_BY_HOUR\"}, \"VirtualPrivateCloud\": {\"VpcId\": \"vpc-2hxl6jir\",
        \"SubnetId\": \"subnet-gnl4awp6\", \"AsVpcGateway\": false}, \"SecurityGroupIds\":
        [\"sg-4rdhd5n6\"], \"LoginSettings\": {\"KeyIds\": [\"skey-83mjf79v\"]}, \"ImageId\":
        \"img-eb30mz89\", \"OsName\": \"TencentOS Server 3.1 (TK4)\", \"DefaultLoginUser\":
        \"root\", \"DefaultLoginPort\": 22, \"RenewFlag\": null, \"CreatedTime\":
        \"2022-09-13T03:05:15Z\", \"ExpiredTime\": null, \"Tags\": [], \"PlatformProjectId\":
        null, \"DisasterRecoverGroupId\": \"\", \"DedicatedClusterId\": \"\", \"CamRoleName\":
        \"\", \"LatestOperation\": \"StartInstances\", \"LatestOperationState\": \"SUCCESS\",
        \"LatestOperationRequestId\": \"f7b7e18f-013b-4836-a583-41fe8066657f\", \"IsolatedSource\":
        \"NOTISOLATED\", \"HpcClusterId\": \"\", \"DisableApiTermination\": false,
        \"RdmaIpAddresses\": null, \"LicenseType\": \"TencentCloud\", \"StopChargingMode\":
        \"NOT_APPLICABLE\"}, {\"Placement\": {\"Zone\": \"ap-singapore-4\", \"HostId\":
        null, \"ProjectId\": 0}, \"InstanceId\": \"ins-00lycyy6\", \"Uuid\": \"9683a76c-12cb-45f5-b7e9-70ae917a6ae4\",
        \"InstanceState\": \"STOPPED\", \"RestrictState\": \"NORMAL\", \"InstanceType\":
        \"SA2.MEDIUM4\", \"CPU\": 2, \"Memory\": 4, \"InstanceName\": \"Unnamed\",
        \"InstanceChargeType\": \"POSTPAID_BY_HOUR\", \"SystemDisk\": {\"DiskType\":
        \"CLOUD_BSSD\", \"DiskId\": \"disk-f4cbs4nc\", \"DiskSize\": 50, \"Encrypt\":
        false, \"KmsKeyId\": null, \"ThroughputPerformance\": 0, \"CdcId\": null},
        \"DataDisks\": [], \"PrivateIpAddresses\": [\"192.168.0.8\"], \"PublicIpAddresses\":
        null, \"IPv6Addresses\": null, \"InternetAccessible\": {\"InternetMaxBandwidthOut\":
        5, \"InternetChargeType\": null}, \"VirtualPrivateCloud\": {\"VpcId\": \"vpc-2hxl6jir\",
        \"SubnetId\": \"subnet-gnl4awp6\", \"AsVpcGateway\": false}, \"SecurityGroupIds\":
        [\"sg-4rdhd5n6\"], \"LoginSettings\": {\"KeyIds\": [\"skey-83mjf79v\"]}, \"ImageId\":
        \"img-eb30mz89\", \"OsName\": \"TencentOS Server 3.1 (TK4)\", \"DefaultLoginUser\":
        \"root\", \"DefaultLoginPort\": 22, \"RenewFlag\": null, \"CreatedTime\":
        \"2022-09-06T03:07:37Z\", \"ExpiredTime\": null, \"Tags\": [{\"tagKey\": \"maid_status\",
        \"tagValue\": \"Resource does not meet policy: stop@2022-09-27T02:31:00+00:00\",
        \"Key\": \"maid_status\", \"Value\": \"Resource does not meet policy: stop@2022-09-27T02:31:00+00:00\"}],
        \"PlatformProjectId\": null, \"DisasterRecoverGroupId\": \"\", \"DedicatedClusterId\":
        \"\", \"CamRoleName\": \"\", \"LatestOperation\": \"StopInstances\", \"LatestOperationState\":
        \"SUCCESS\", \"LatestOperationRequestId\": \"bfefd463-506b-4e4c-8632-87a453b1ea88\",
        \"IsolatedSource\": \"NOTISOLATED\", \"HpcClusterId\": \"\", \"DisableApiTermination\":
        false, \"RdmaIpAddresses\": null, \[...]
- request:
    body: '{"Offset": 20, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 6, "InstanceSet": [], "RequestId": "51630d20-3a07-4581-ac59-8c749ee4d979"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-3zljmyzw", "qcs::cvm:ap-singapore::instance/ins-00lycyy6",
      "qcs::cvm:ap-singapore::instance/ins-a4vgayks", "qcs::cvm:ap-singapore::instance/ins-n198q4gc",
      "qcs::cvm:ap-singapore::instance/ins-beetmuio", "qcs::cvm:ap-singapore::instance/ins-5xpbvkm8"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-00lycyy6","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: stop@2022-09-27T02:31:00+00:00"}]},{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-a4vgayks","Tags":[{"TagKey":"test_pro","TagValue":"andyxbchen"},{"TagKey":"test_pro_00122","TagValue":"andyxbchen"},{"TagKey":"test_test-rfc26","TagValue":"Resource
        does not meet policy: tag@2022-09-08T02:46:00+00:00"},{"TagKey":"\u8fd0\u7ef4\u8d1f\u8d23\u4eba2","TagValue":"andyxbchen"},{"TagKey":"test","TagValue":"test"}]}],"RequestId":"00b5cb83-adcc-4923-9b4a-856af6543f4b"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-3zljmyzw"], "Tags":
      [{"TagKey": "maid_status", "TagValue": "Resource does not meet policy: terminate@2022-09-20T03:35:00+00:00"}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - TagResources
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"FailedResources":[],"RequestId":"adcb3b20-8156-40ab-b018-d050d8c8df8e"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"InstanceIds": ["ins-3zljmyzw"], "StopType": "SOFT", "StoppedMode": "STOP_CHARGING"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - StopInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"RequestId": "c6b121c6-d641-4050-8cf7-541803bf4923"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
