interactions:
- request:
    body: '{"InstanceIds": ["ins-nhhm5ppo"], "Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 1, "InstanceSet": [{"Placement": {"Zone":
        "ap-singapore-4", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-nhhm5ppo",
        "Uuid": "629e6ef0-18d8-4310-8ff5-8f1d6a6ea4d8", "InstanceState": "STOPPED",
        "RestrictState": "NORMAL", "InstanceType": "SA2.MEDIUM4", "CPU": 2, "Memory":
        4, "InstanceName": "Unnamed", "InstanceChargeType": "POSTPAID_BY_HOUR", "SystemDisk":
        {"DiskType": "CLOUD_BSSD", "DiskId": "disk-4vveobag", "DiskSize": 50, "Encrypt":
        false, "KmsKeyId": null, "ThroughputPerformance": 0, "CdcId": null}, "DataDisks":
        [], "PrivateIpAddresses": ["192.168.0.8"], "PublicIpAddresses": null, "IPv6Addresses":
        null, "InternetAccessible": {"InternetMaxBandwidthOut": 5, "InternetChargeType":
        null}, "VirtualPrivateCloud": {"VpcId": "vpc-rdsfj6ot", "SubnetId": "subnet-9hl8a56w",
        "AsVpcGateway": false}, "SecurityGroupIds": ["sg-0tifsp1w"], "LoginSettings":
        {"KeyIds": ["skey-pz3dn78b"]}, "ImageId": "img-eb30mz89", "OsName": "TencentOS
        Server 3.1 (TK4)", "DefaultLoginUser": "root", "DefaultLoginPort": 22, "RenewFlag":
        null, "CreatedTime": "2022-09-16T06:18:05Z", "ExpiredTime": null, "Tags":
        [{"tagKey": "maid_status", "tagValue": "Resource does not meet policy: terminate@2022-09-23T09:55:00+00:00",
        "Key": "maid_status", "Value": "Resource does not meet policy: terminate@2022-09-23T09:55:00+00:00"}],
        "PlatformProjectId": null, "DisasterRecoverGroupId": "", "DedicatedClusterId":
        "", "CamRoleName": "", "LatestOperation": "StopInstances", "LatestOperationState":
        "SUCCESS", "LatestOperationRequestId": "7e50cf3f-30c0-4d4e-a3b2-e492ca71f2df",
        "IsolatedSource": "NOTISOLATED", "HpcClusterId": "", "DisableApiTermination":
        false, "RdmaIpAddresses": null, "LicenseType": "TencentCloud", "StopChargingMode":
        "STOP_CHARGING"}], "RequestId": "2e483159-76e0-4a65-b669-a5f77c96e5a6"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-nhhm5ppo"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-nhhm5ppo","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: terminate@2022-09-23T09:55:00+00:00"}]}],"RequestId":"55444212-9713-4783-b731-26c428d8d6ac"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"InstanceIds": ["ins-nhhm5ppo"], "Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 0, "InstanceSet": [], "RequestId": "e7db38b3-ca99-40ee-adbd-c372063d3ede"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
