interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 5, \"InstanceSet\": [{\"Placement\":
        {\"Zone\": \"ap-singapore-4\", \"HostId\": null, \"ProjectId\": 0}, \"InstanceId\":
        \"ins-00lycyy6\", \"Uuid\": \"9683a76c-12cb-45f5-b7e9-70ae917a6ae4\", \"InstanceState\":
        \"RUNNING\", \"RestrictState\": \"NORMAL\", \"InstanceType\": \"SA2.MEDIUM4\",
        \"CPU\": 2, \"Memory\": 4, \"InstanceName\": \"Unnamed\", \"InstanceChargeType\":
        \"POSTPAID_BY_HOUR\", \"SystemDisk\": {\"DiskType\": \"CLOUD_BSSD\", \"DiskId\":
        \"disk-f4cbs4nc\", \"DiskSize\": 50, \"Encrypt\": false, \"KmsKeyId\": null,
        \"ThroughputPerformance\": 0, \"CdcId\": null}, \"DataDisks\": [], \"PrivateIpAddresses\":
        [\"192.168.0.8\"], \"PublicIpAddresses\": [\"43.134.175.48\"], \"IPv6Addresses\":
        null, \"InternetAccessible\": {\"InternetMaxBandwidthOut\": 5, \"InternetChargeType\":
        \"TRAFFIC_POSTPAID_BY_HOUR\"}, \"VirtualPrivateCloud\": {\"VpcId\": \"vpc-2hxl6jir\",
        \"SubnetId\": \"subnet-gnl4awp6\", \"AsVpcGateway\": false}, \"SecurityGroupIds\":
        [\"sg-4rdhd5n6\"], \"LoginSettings\": {\"KeyIds\": [\"skey-83mjf79v\"]}, \"ImageId\":
        \"img-eb30mz89\", \"OsName\": \"TencentOS Server 3.1 (TK4)\", \"DefaultLoginUser\":
        \"root\", \"DefaultLoginPort\": 22, \"RenewFlag\": null, \"CreatedTime\":
        \"2022-09-06T03:07:37Z\", \"ExpiredTime\": null, \"Tags\": [], \"PlatformProjectId\":
        null, \"DisasterRecoverGroupId\": \"\", \"DedicatedClusterId\": \"\", \"CamRoleName\":
        \"\", \"LatestOperation\": \"StartInstances\", \"LatestOperationState\": \"SUCCESS\",
        \"LatestOperationRequestId\": \"3468b6e7-09da-4838-89d3-634767dc44ca\", \"IsolatedSource\":
        \"NOTISOLATED\", \"HpcClusterId\": \"\", \"DisableApiTermination\": false,
        \"RdmaIpAddresses\": null, \"LicenseType\": \"TencentCloud\", \"StopChargingMode\":
        \"NOT_APPLICABLE\"}, {\"Placement\": {\"Zone\": \"ap-singapore-4\", \"HostId\":
        null, \"ProjectId\": 0}, \"InstanceId\": \"ins-a4vgayks\", \"Uuid\": \"67280d6c-7dee-4b06-b794-778535a61366\",
        \"InstanceState\": \"STOPPED\", \"RestrictState\": \"NORMAL\", \"InstanceType\":
        \"SA2.MEDIUM4\", \"CPU\": 2, \"Memory\": 4, \"InstanceName\": \"ins-riot-cvmtest\",
        \"InstanceChargeType\": \"POSTPAID_BY_HOUR\", \"SystemDisk\": {\"DiskType\":
        \"CLOUD_BSSD\", \"DiskId\": \"disk-96jhcorq\", \"DiskSize\": 50, \"Encrypt\":
        false, \"KmsKeyId\": null, \"ThroughputPerformance\": 0, \"CdcId\": null},
        \"DataDisks\": [], \"PrivateIpAddresses\": [\"192.168.0.12\"], \"PublicIpAddresses\":
        null, \"IPv6Addresses\": null, \"InternetAccessible\": {\"InternetMaxBandwidthOut\":
        5, \"InternetChargeType\": null}, \"VirtualPrivateCloud\": {\"VpcId\": \"vpc-2hxl6jir\",
        \"SubnetId\": \"subnet-gnl4awp6\", \"AsVpcGateway\": false}, \"SecurityGroupIds\":
        [\"sg-4rdhd5n6\"], \"LoginSettings\": {\"KeyIds\": null}, \"ImageId\": \"img-eb30mz89\",
        \"OsName\": \"TencentOS Server 3.1 (TK4)\", \"DefaultLoginUser\": \"root\",
        \"DefaultLoginPort\": 22, \"RenewFlag\": null, \"CreatedTime\": \"2022-08-30T06:24:34Z\",
        \"ExpiredTime\": null, \"Tags\": [{\"tagKey\": \"test\", \"tagValue\": \"test\",
        \"Key\": \"test\", \"Value\": \"test\"}, {\"tagKey\": \"test_pro\", \"tagValue\":
        \"andyxbchen\", \"Key\": \"test_pro\", \"Value\": \"andyxbchen\"}, {\"tagKey\":
        \"test_pro_00122\", \"tagValue\": \"andyxbchen\", \"Key\": \"test_pro_00122\",
        \"Value\": \"andyxbchen\"}, {\"tagKey\": \"test_test-rfc26\", \"tagValue\":
        \"Resource does not meet policy: tag@2022-09-08T02:46:00+00:00\", \"Key\":
        \"test_test-rfc26\", \"Value\": \"Resource does not meet policy: tag@2022-09-08T02:46:00+00:00\"}[...]
- request:
    body: '{"Offset": 20, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 5, "InstanceSet": [], "RequestId": "e35f302f-c396-4a44-bec8-9c4a4bb9ae48"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6", "qcs::cvm:ap-singapore::instance/ins-a4vgayks",
      "qcs::cvm:ap-singapore::instance/ins-n198q4gc", "qcs::cvm:ap-singapore::instance/ins-beetmuio",
      "qcs::cvm:ap-singapore::instance/ins-5xpbvkm8"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-a4vgayks","Tags":[{"TagKey":"test_pro","TagValue":"andyxbchen"},{"TagKey":"test_pro_00122","TagValue":"andyxbchen"},{"TagKey":"test_test-rfc26","TagValue":"Resource
        does not meet policy: tag@2022-09-08T02:46:00+00:00"},{"TagKey":"\u8fd0\u7ef4\u8d1f\u8d23\u4eba2","TagValue":"andyxbchen"},{"TagKey":"test","TagValue":"test"}]}],"RequestId":"18d5d102-0c7b-4eb2-ab74-02b3f8ff5c30"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6"], "Tags":
      [{"TagKey": "maid_status", "TagValue": "Resource does not meet policy: stop@2022-09-27T02:31:00+00:00"}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - TagResources
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"FailedResources":[],"RequestId":"4744198d-07e6-476f-b9e2-f99529cc05cd"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6", "qcs::cvm:ap-singapore::instance/ins-a4vgayks",
      "qcs::cvm:ap-singapore::instance/ins-n198q4gc", "qcs::cvm:ap-singapore::instance/ins-beetmuio",
      "qcs::cvm:ap-singapore::instance/ins-5xpbvkm8"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-00lycyy6","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: stop@2022-09-27T02:31:00+00:00"}]},{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-a4vgayks","Tags":[{"TagKey":"test_pro","TagValue":"andyxbchen"},{"TagKey":"test_pro_00122","TagValue":"andyxbchen"},{"TagKey":"test_test-rfc26","TagValue":"Resource
        does not meet policy: tag@2022-09-08T02:46:00+00:00"},{"TagKey":"\u8fd0\u7ef4\u8d1f\u8d23\u4eba2","TagValue":"andyxbchen"},{"TagKey":"test","TagValue":"test"}]}],"RequestId":"4ba60ad1-763f-43ee-a43c-a9515af1bb2f"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
