interactions:
- request:
    body: '{"InstanceIds": ["ins-00lycyy6"], "Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 1, "InstanceSet": [{"Placement": {"Zone":
        "ap-singapore-4", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-00lycyy6",
        "Uuid": "9683a76c-12cb-45f5-b7e9-70ae917a6ae4", "OperatorUin": "", "InstanceState":
        "STOPPED", "RestrictState": "NORMAL", "InstanceType": "SA2.MEDIUM4", "CPU":
        2, "Memory": 4, "InstanceName": "Unnamed", "InstanceChargeType": "POSTPAID_BY_HOUR",
        "SystemDisk": {"DiskType": "CLOUD_BSSD", "DiskId": "disk-f4cbs4nc", "DiskSize":
        50, "Encrypt": false, "KmsKeyId": null, "ThroughputPerformance": 0, "CdcId":
        null}, "DataDisks": [], "PrivateIpAddresses": ["192.168.0.8"], "PublicIpAddresses":
        null, "IPv6Addresses": null, "InternetAccessible": {"InternetMaxBandwidthOut":
        5, "InternetChargeType": null}, "VirtualPrivateCloud": {"VpcId": "vpc-2hxl6jir",
        "SubnetId": "subnet-gnl4awp6", "AsVpcGateway": false}, "SecurityGroupIds":
        ["sg-4rdhd5n6"], "LoginSettings": {"KeyIds": ["skey-83mjf79v"]}, "ImageId":
        "img-eb30mz89", "OsName": "TencentOS Server 3.1 (TK4)", "DefaultLoginUser":
        "root", "DefaultLoginPort": 22, "RenewFlag": null, "CreatedTime": "2022-09-06T03:07:37Z",
        "ExpiredTime": null, "Tags": [{"tagKey": "maid_status", "tagValue": "Resource
        does not meet policy: stop@2022-10-11T06:17:00+00:00", "Key": "maid_status",
        "Value": "Resource does not meet policy: stop@2022-10-11T06:17:00+00:00"}],
        "PlatformProjectId": null, "DisasterRecoverGroupId": "", "DedicatedClusterId":
        "", "CamRoleName": "", "LatestOperation": "StopInstances", "LatestOperationState":
        "SUCCESS", "LatestOperationRequestId": "ef0646f8-8cb5-4a8d-b5fb-6358fb38cd99",
        "IsolatedSource": "NOTISOLATED", "HpcClusterId": "", "DisableApiTermination":
        false, "RdmaIpAddresses": null, "LicenseType": "TencentCloud", "StopChargingMode":
        "STOP_CHARGING"}], "RequestId": "845e3372-7092-417e-99b9-9923e98bcd84"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"InstanceIds": "hello"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - StopInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\":{\"Error\":{\"Code\":\"InvalidParameter\",\"Message\":\"\u53C2\u6570
        `InstanceIds` \u53D6\u503C\u7C7B\u578B\u9519\u8BEF\u3002\"},\"RequestId\":\"deba51a7-4cbd-4ab6-a2a2-9a4e87d7b250\"}}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
