interactions:
- request:
    body: '{"InstanceIds": ["ins-g0h2eo1a"], "Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 1, \"InstanceSet\": [{\"Placement\":
        {\"Zone\": \"ap-singapore-1\", \"HostId\": null, \"ProjectId\": 0}, \"InstanceId\":
        \"ins-g0h2eo1a\", \"Uuid\": \"47061ecd-a4b1-4b29-993c-20143565197a\", \"OperatorUin\":
        \"100000750436\", \"InstanceState\": \"RUNNING\", \"RestrictState\": \"NORMAL\",
        \"InstanceType\": \"S3.MEDIUM2\", \"CPU\": 2, \"Memory\": 2, \"InstanceName\":
        \"stacklet_demo_0\", \"InstanceChargeType\": \"POSTPAID_BY_HOUR\", \"SystemDisk\":
        {\"DiskType\": \"CLOUD_PREMIUM\", \"DiskId\": \"disk-5voja8zq\", \"DiskSize\":
        50, \"Encrypt\": false, \"KmsKeyId\": null, \"ThroughputPerformance\": 0,
        \"CdcId\": null}, \"DataDisks\": [], \"PrivateIpAddresses\": [\"192.168.1.11\"],
        \"PublicIpAddresses\": [\"43.156.1.130\"], \"IPv6Addresses\": null, \"InternetAccessible\":
        {\"InternetMaxBandwidthOut\": 2, \"InternetChargeType\": \"TRAFFIC_POSTPAID_BY_HOUR\"},
        \"VirtualPrivateCloud\": {\"VpcId\": \"vpc-8m7evcj7\", \"SubnetId\": \"subnet-cpjh9alg\",
        \"AsVpcGateway\": false}, \"SecurityGroupIds\": [\"sg-m5jbq9cu\"], \"LoginSettings\":
        {\"KeyIds\": [\"skey-ru5y2pxx\"]}, \"ImageId\": \"img-eb30mz89\", \"OsName\":
        \"TencentOS Server 3.1 (TK4)\", \"DefaultLoginUser\": \"root\", \"DefaultLoginPort\":
        22, \"RenewFlag\": null, \"CreatedTime\": \"2022-09-27T09:16:47Z\", \"ExpiredTime\":
        null, \"Tags\": [{\"tagKey\": \"\u6D4B\u8BD5\u4EBA\u5458\", \"tagValue\":
        \"ritchiecai\", \"Key\": \"\u6D4B\u8BD5\u4EBA\u5458\", \"Value\": \"ritchiecai\"}],
        \"PlatformProjectId\": null, \"DisasterRecoverGroupId\": \"\", \"DedicatedClusterId\":
        \"\", \"CamRoleName\": \"\", \"LatestOperation\": \"StartInstances\", \"LatestOperationState\":
        \"SUCCESS\", \"LatestOperationRequestId\": \"5bf9088e-c7b4-4c7a-ab2b-dfbb762f0dd3\",
        \"IsolatedSource\": \"NOTISOLATED\", \"HpcClusterId\": \"\", \"DisableApiTermination\":
        false, \"RdmaIpAddresses\": null, \"LicenseType\": \"TencentCloud\", \"StopChargingMode\":
        \"NOT_APPLICABLE\"}], \"RequestId\": \"cfa6d1ea-caea-493b-b8eb-fb548e6d5275\"}}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"InstanceIds": ["ins-g0h2eo1a"], "StopType": "SOFT", "StoppedMode": "STOP_CHARGING"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - StopInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"RequestId": "c73226cf-749f-46d6-960c-4ffe40fb6063"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"InstanceIds": ["ins-g0h2eo1a"], "Offset": 20, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 1, "InstanceSet": [], "RequestId": "fa0c921a-b181-413f-a274-6e526c8230ed"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
