interactions:
- request:
    body: '{"InstanceIds": ["ins-00lycyy6"], "Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 1, "InstanceSet": [{"Placement": {"Zone":
        "ap-singapore-4", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-00lycyy6",
        "Uuid": "9683a76c-12cb-45f5-b7e9-70ae917a6ae4", "InstanceState": "RUNNING",
        "RestrictState": "NORMAL", "InstanceType": "SA2.MEDIUM4", "CPU": 2, "Memory":
        4, "InstanceName": "Unnamed", "InstanceChargeType": "POSTPAID_BY_HOUR", "SystemDisk":
        {"DiskType": "CLOUD_BSSD", "DiskId": "disk-f4cbs4nc", "DiskSize": 50, "Encrypt":
        false, "KmsKeyId": null, "ThroughputPerformance": 0, "CdcId": null}, "DataDisks":
        [], "PrivateIpAddresses": ["192.168.0.8"], "PublicIpAddresses": ["43.153.193.253"],
        "IPv6Addresses": null, "InternetAccessible": {"InternetMaxBandwidthOut": 5,
        "InternetChargeType": "TRAFFIC_POSTPAID_BY_HOUR"}, "VirtualPrivateCloud":
        {"VpcId": "vpc-2hxl6jir", "SubnetId": "subnet-gnl4awp6", "AsVpcGateway": false},
        "SecurityGroupIds": ["sg-4rdhd5n6"], "LoginSettings": {"KeyIds": ["skey-83mjf79v"]},
        "ImageId": "img-eb30mz89", "OsName": "TencentOS Server 3.1 (TK4)", "DefaultLoginUser":
        "root", "DefaultLoginPort": 22, "RenewFlag": null, "CreatedTime": "2022-09-06T03:07:37Z",
        "ExpiredTime": null, "Tags": [{"tagKey": "maid_status", "tagValue": "Resource
        does not meet policy: stop@2022-09-27T02:31:00+00:00", "Key": "maid_status",
        "Value": "Resource does not meet policy: stop@2022-09-27T02:31:00+00:00"}],
        "PlatformProjectId": null, "DisasterRecoverGroupId": "", "DedicatedClusterId":
        "", "CamRoleName": "", "LatestOperation": "StartInstances", "LatestOperationState":
        "SUCCESS", "LatestOperationRequestId": "9aed769d-b5b4-417d-8d37-d6dada14a0c9",
        "IsolatedSource": "NOTISOLATED", "HpcClusterId": "", "DisableApiTermination":
        false, "RdmaIpAddresses": null, "LicenseType": "TencentCloud", "StopChargingMode":
        "NOT_APPLICABLE"}], "RequestId": "e72fb248-03f0-4c7b-83d2-bb59bf3b4782"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-00lycyy6","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: stop@2022-09-27T02:31:00+00:00"}]}],"RequestId":"6f51c2cd-1684-4d5f-9490-cfb12df0a65d"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"InstanceIds": ["ins-00lycyy6"], "StopType": "SOFT", "StoppedMode": "STOP_CHARGING"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - StopInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"RequestId": "79d7967a-004c-42f3-a67b-7c3295c8f3c6"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-00lycyy6"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-00lycyy6","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: stop@2022-09-27T02:31:00+00:00"}]}],"RequestId":"cad74281-97f9-4ce1-8138-e0be9a46765f"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
