interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeProducts
      X-TC-Region:
      - ap-shanghai
      X-TC-Version:
      - '2022-06-27'
    method: POST
    uri: https://region.ap-shanghai.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 106, "Products": [{"Name": "antiddos"},
        {"Name": "apigateway"}, {"Name": "as"}, {"Name": "asr"}, {"Name": "asw"},
        {"Name": "batch"}, {"Name": "bda"}, {"Name": "cbs"}, {"Name": "cdb"}, {"Name":
        "cdc"}, {"Name": "cdh"}, {"Name": "cdm"}, {"Name": "cdwch"}, {"Name": "cdwdoris"},
        {"Name": "cdwpg"}, {"Name": "chdfs"}, {"Name": "ci"}, {"Name": "cii"}, {"Name":
        "ckafka"}, {"Name": "clb"}], "RequestId": "24d82b5f-3770-4a04-b82a-043290851c7b"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
