interactions:
- request:
    body: '{"Offset": "0", "Limit": "20"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeVpcs
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://vpc.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\n    \"Response\": {\n        \"VpcSet\": [\n            {\n                \"VpcId\":
        \"vpc-7fyzh7ml\",\n                \"VpcName\": \"ritch-test\",\n                \"CidrBlock\":
        \"192.168.0.0/16\",\n                \"Ipv6CidrBlock\": \"\",\n                \"IsDefault\":
        false,\n                \"EnableMulticast\": false,\n                \"CreatedTime\":
        \"2022-09-16 15:08:23\",\n                \"EnableDhcp\": true,\n                \"DhcpOptionsId\":
        \"dopt-i7cbszpi\",\n                \"DnsServerSet\": [\n                    \"183.60.83.19\",\n
        \                   \"183.60.82.98\"\n                ],\n                \"DomainName\":
        \"\",\n                \"VpcFlag\": 0,\n                \"IsShare\": false,\n
        \               \"EnableRouteVpcPublish\": false,\n                \"TagSet\":
        [\n                    {\n                        \"Key\": \"\u6D4B\u8BD5\u4EBA\u5458\",\n
        \                       \"Value\": \"ritchiecai\"\n                    }\n
        \               ],\n                \"AssistantCidrSet\": []\n            },\n
        \           {\n                \"VpcId\": \"vpc-rdsfj6ot\",\n                \"VpcName\":
        \"arron_test\",\n                \"CidrBlock\": \"192.168.0.0/16\",\n                \"Ipv6CidrBlock\":
        \"\",\n                \"IsDefault\": false,\n                \"EnableMulticast\":
        false,\n                \"CreatedTime\": \"2022-09-14 10:04:49\",\n                \"EnableDhcp\":
        true,\n                \"DhcpOptionsId\": \"dopt-lq6a2hgi\",\n                \"DnsServerSet\":
        [\n                    \"183.60.83.19\",\n                    \"183.60.82.98\"\n
        \               ],\n                \"DomainName\": \"\",\n                \"VpcFlag\":
        0,\n                \"IsShare\": false,\n                \"EnableRouteVpcPublish\":
        false,\n                \"TagSet\": [],\n                \"AssistantCidrSet\":
        [\n                    {\n                        \"CidrBlock\": \"10.1.0.0/16\",\n
        \                       \"AssistantType\": 0,\n                        \"SubnetSet\":
        []\n                    }\n                ]\n            },\n            {\n
        \               \"VpcId\": \"vpc-2hxl6jir\",\n                \"VpcName\":
        \"barry-tdcc-test\",\n                \"CidrBlock\": \"192.168.0.0/16\",\n
        \               \"Ipv6CidrBlock\": \"\",\n                \"IsDefault\": false,\n
        \               \"EnableMulticast\": false,\n                \"CreatedTime\":
        \"2022-08-11 17:59:35\",\n                \"EnableDhcp\": true,[...]
- request:
    body: '{"ResourceList": ["qcs::vpc:ap-singapore:uin/100000750436:vpc/vpc-7fyzh7ml",
      "qcs::vpc:ap-singapore:uin/100000750436:vpc/vpc-rdsfj6ot", "qcs::vpc:ap-singapore:uin/100000750436:vpc/vpc-2hxl6jir",
      "qcs::vpc:ap-singapore:uin/100000750436:vpc/vpc-82offjfb", "qcs::vpc:ap-singapore:uin/100000750436:vpc/vpc-jti4crpb",
      "qcs::vpc:ap-singapore:uin/100000750436:vpc/vpc-o7cqtz6h", "qcs::vpc:ap-singapore:uin/100000750436:vpc/vpc-jls90tbv",
      "qcs::vpc:ap-singapore:uin/100000750436:vpc/vpc-0as15zqr", "qcs::vpc:ap-singapore:uin/100000750436:vpc/vpc-8eztdrg5"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::vpc:ap-singapore:uin\/100000750436:vpc\/vpc-7fyzh7ml","Tags":[{"TagKey":"\u6d4b\u8bd5\u4eba\u5458","TagValue":"ritchiecai"}]}],"RequestId":"117b5521-8c3f-4d33-928f-79c74124301b"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeFlowLogs
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://vpc.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\n    \"Response\": {\n        \"FlowLog\": [],\n        \"TotalNum\":
        0,\n        \"RequestId\": \"46a35118-8141-4124-89ce-4057760359fa\"\n    }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
